.layout-container {
  display: flex;
}

app-side-nav {
  width: 250px;
  background-color: #1A1A1A;
  color: #FFF;
  padding-top: 20px;
  display: block;
}

.main-content {
  flex: 1;
  padding: 60px 10px;
}