# Global Gitignore file

# Node modules
node_modules/

# Angular build output
dist/
out-tsc/

# IDE/editor settings
.vscode/
.idea/

# Angular cache
.angular/cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled TypeScript
*.js
*.js.map

# Temporary files
tmp/
temp/

# Optional - if using Angular CLI config outside repo
.angular.json

