.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.content {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2em;
}

p {
  font-size: 1.8rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
