<mat-form-field appearance="outline" class="filter-select">
  <mat-label>Filter by Status</mat-label>
  <mat-select
    [(value)]="selectedStatus"
    (selectionChange)="onActionChange($event.value)"
  >
    <mat-option value="">All</mat-option>
    <mat-option *ngFor="let key of statusKeys" [value]="key">
      {{ accountStatusLabels[key] }}
    </mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <!-- UserName Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
    <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <!-- Account status Column -->
  <ng-container matColumnDef="accountStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Status</th>
    <td mat-cell *matCellDef="let user">
      {{ accountStatusLabels[user.accountStatus] }}
    </td>
  </ng-container>

  <!-- Details button Column -->
  <ng-container matColumnDef="manage">
    <th mat-header-cell *matHeaderCellDef>Manage</th>
    <td mat-cell *matCellDef="let user">
      <button
        mat-flat-button
        color="primary"
        class="app-btn app-btn-primary"
        [disabled]="!isUserSelectable(user)"
        (click)="viewUser(user.id)"
      >
        Details
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  class="pagination"
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
>
</mat-paginator>
