<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    name="username"
    [(ngModel)]="credentials.username"
    placeholder="Enter your Username"
    required
  />

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    [(ngModel)]="credentials.password"
    placeholder="Enter your Password"
    required
  />

  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>
