.nav-items {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
}

.nav-items ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-items li {
  width: 100%;
}

.nav-items li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 12px 25px;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.nav-items li a:hover {
  background-color: #fff;
  color: #333;
  outline: none;
}

.nav-items li a .icon {
  margin-right: 10px;
  font-size: 20px;
  line-height: 1;
}

